# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store
