# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*.egg
*instance/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# venv
.venv/
venv/
ENV/
env/
